<style>
    #mytable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      #mytable td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      {% comment %} #staffInfo tr:nth-child(even){background-color: #C5B4E3;}
      #staffInfo tr:{background-color: #C5B4E3;} {% endcomment %}
      #mytable tr:hover {background-color: #C5B4E3;}
      #mytable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #800080;
        color: white;
      }
  </style>

<table id="mytable">
    <th>   
   <td>Date Issued </td>
   <td>Card Name </td>
   <td>Card Number</td>
   <td>Card Type</td>
   <td>Expiry Date</td>
   <td>Card Status</td>
   <td>Security Code</td>
   <td>Wallet</td>
   <td>Account</td>
   <td>Issuer</td>

    </th>
   
   {%for card in cards%}
   <tr>
       <td> {{card.date_issued}} </td>
       <td> {{card.card_name}} </td>
       <td> {{card.card_number}} </td>
       <td> {{card.card_type}} </td>
       <td> {{card.expiry_date}} </td>
       <td> {{card.card_status}} </td>
       <td> {{card.security_code}} </td>
       <td> {{card.wallet}} </td>
       <td> {{card.account}} </td>
       <td> {{card.issuer}} </td>
  
   
   
   </tr>   
   {% endfor %}
    </table>
   
   