<style>
    #mytable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      #mytable td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      {% comment %} #staffInfo tr:nth-child(even){background-color: #C5B4E3;}
      #staffInfo tr:{background-color: #C5B4E3;} {% endcomment %}
      #mytable tr:hover {background-color:pink;}
      #mytable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #AA336A;
        color: white;
      }
</style>
<table id="mytable">
    <tr>   
   <th>Loan Number</th>
   <th>Loan Type </th>
   <th>Amount</th>
   <th>Date and Type</th>
   <th>Wallet</th>
   <th>Interest Rate</th>
   <th>Guarantor</th>
   <th>Pay Due Date</th>
   <th>Id Number</th>
   <th>Loan Balance</th>
  
    </tr>
   
   {%for loan in loans%}
   <tr>
       <td> {{loan.loan_number}} </td>
       <td> {{loan.loan_type}} </td>
       <td> {{loan.amount}} </td>
       <td> {{loan.date_and_time}} </td>
       <td> {{loan.wallet}} </td>
       <td> {{loan.interest_rate}} </td>
       <td> {{loan.guarantor}} </td>
       <td> {{loan.pay_due_date}} </td>
       <td> {{loan.loan_balance}} </td>
    
    
       
   
   </tr>   
   {% endfor %}
    </table>
   
   