<style>
    #mytable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      #mytable td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      {% comment %} #staffInfo tr:nth-child(even){background-color: #C5B4E3;}
      #staffInfo tr:{background-color: #C5B4E3;} {% endcomment %}
      #mytable tr:hover {background-color:pink;}
      #mytable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #AA336A;
        color: white;
      }
</style>

<table id="mytable">
    <tr>   
   <th>Notifications Id</th>
   <th>Name </th>
   <th>Status</th>
   <th>Date and Time</th>
   <th>Receipt</th>
   
    </tr>
   
   {%for notification in notifications%}
   <tr>
       <td> {{notification.notifications_id}} </td>
       <td> {{notification.name}} </td>
       <td> {{notification.status}} </td>
       <td> {{notification.date_and_time}} </td>
       <td> {{notification.receipt}} </td>
     
     
      
   
   </tr>   
   {% endfor %}
    </table>
   
   